* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  place-items: center;
}

div {
    background-color: rgb(3, 106, 119);
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

ul {
    margin: 5%;
    padding-left: 0;
    width: 100%;
}
li {
    margin: 3px 50px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* afasta o texto das ações */
}



input {
    border-radius: 5px;
    box-shadow: 2px 4px 15px;
    margin: 3px 05px 3px 20px;
}

button {
    border-radius: 5px;
    box-shadow: 2px 4px 15px;
}


.actions {
  display: flex;
  align-items: center;
  gap: 2px; /* cola o checkbox e o botão */
  margin-left: 72px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #19dd43; /* muda a cor do check em navegadores modernos */
  cursor: pointer;
  margin: 0px;
}

.editar-input {
  width: 120px;
  font-size: 14px;
  padding: 2px 6px 2px 28px; /* espaço à esquerda para a imagem */
  
}

